{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block importmap %}{{ importmap(['app', 'home']) }}{% endblock %}

{% block body %}

<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay">
        <div class="container">
            <div class="row catch-phrase">
                <div class="col-md-5">
                    <h1 class="mb-3 text-white">Snowtricks</h1>
                    <p>Du simple ollie aux doubles corks, chaque saut est une histoire. Rejoignez-nous pour explorer l'univers des figures de snowboard !</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scrolling buttons -->
<button id="scroll-button" class="scroll-button"><i class="fa-solid fa-circle-chevron-down fa-2xl" id="scroll-icon"></i></button>
<!-- End Scrolling buttons -->

<div class="site-section" id="postList">
    <div class="container">
        <div class="row justify-content-evenly" id="pages">
            {{ include('_partials/_tricks.html.twig') }}
        </div>
    </div>
</div> <!-- END .site-section -->
{% endblock %}
    
{% block js %}

{% endblock %}