{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block importmap %}{{ importmap(['app', 'home']) }}{% endblock %}

{% block body %}

<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay">
        <div class="container">
            <div class="row catch-phrase">
                <div class="col-md-5">
                    <h1 class="mb-3 text-white">Snowtricks</h1>
                    <p>From simple ollies to double corks, every jump is a story. Join us to explore the world of snowboard tricks!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scrolling buttons -->
<button id="scroll-button" class="scroll-button"><i class="fa-solid fa-circle-chevron-down fa-2xl"
        id="scroll-icon"></i></button>
<!-- End Scrolling buttons -->

<!-- Add new tricks -->
<div class="d-flex justify-content-end me-5 mt-4">
    {% if is_granted('ROLE_USER') %}
    <a class="btn btn-block btn-primary text-white py-3 px-5" href="{{ path('app_tricks_edit', {'tricksId' : 0}) }}">
        Add a new tricks
    </a>
    {% endif %}
</div>
<!-- End Add new tricks -->

<div class="site-section" id="postList">
    <div class="container">
        <div class="row justify-content-evenly" id="pages">
            {{ include('_partials/_tricks.html.twig') }}
        </div>
    </div>
</div> <!-- END .site-section -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete Tricks</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalMessage"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="modalYesButton">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->
{% endblock %}

{% block js %}

{% endblock %}