{% extends 'base.html.twig' %}

{% block body %}
<div class="site-section">
    <div class="container">
        {{ include('_partials/_title.html.twig', {'pageTitle': '404 Not found'}) }}
    </div>
</div>
{% endblock %}