.carousel-container {
    overflow: hidden; //Masque tout contenu débordant de la hauteur
}

.carousel-inner {
    height: auto;
}

.carousel-item.active {
    display: block;
}

.carousel-item {
    display: none;
}

.tricks-edit-buttons-hero {
    position:relative;
    z-index: 2;
    top: 2rem;
    right: 2rem;
}