.carousel-container {
    overflow: hidden; //Masque tout contenu débordant de la hauteur
}

.carousel-inner {
    height: auto;
}

.carousel-item.active {
    display: block;
}

.carousel-item {
    display: none;
}

.tricks-edit-buttons-hero {
    position:relative;
    z-index: 2;
    top: 2rem;
    right: 2rem;
}

.edit-icons {
    width: 6rem;
    background-color: rgba(0,0,0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.edit-icons-color {
    color: white;
    transition: color 0.3s;

    &:hover {
        color: #18bc9c;
    }
}

