{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-10">
                    <div class="heading-39101 mb-5">
                        <span class="backdrop text-center">Login</span>
                        <span class="subtitle-39191">Login</span>
                        <h3>Login</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 ml-auto"></div>
                <div class="col-lg-4 mb-5">
                    <form action="{{ path('app_login') }}" method="post">
                        <div class="form-group row">
                            <div class="mb-4 mb-3">
                                <label for="username" class="w-100 text-center mb-2">Username</label>
                                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="mb-4 mb-3">
                                <label for="password" class="w-100 text-center mb-2">Password</label>
                                <input type="password" id="password" name="_password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="mb-4 mb-3 w-100 d-flex justify-content-center">
                                <a href="{{ path('app_forgotten_password') }}">Forgot password ?</a>
                            </div>
                        </div>
                        {# If you want to control the URL the user is redirected to on success
                        <input type="hidden" name="_target_path" value="/account"> #}
                        <div class="form-group row">
                            <div class="col-md-12 mr-auto d-flex justify-content-center">
                                <button type="submit" class="btn btn-block btn-primary text-white py-3 px-5">Login</button>
                            </div>  
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 ml-auto"></div>
            </div>
        </div>
    </div>
{% endblock %}